@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
  }
  body {
    @apply dark:bg-[#242424] bg-[#f9f9f9];
  }

  .content-wrapper p {
    @apply text-foreground;
  }

  .content-wrapper a {
    @apply underline hover:text-muted-foreground hover:transition-colors hover:duration-200;
  }

    .content-wrapper ul {
      @apply list-disc list-inside my-4 ml-6;
      /* Adjusted for better indentation */
    }
  
    .content-wrapper ol {
      @apply list-decimal list-inside my-4 ml-6;
      /* Added ordered list styles */
    }
  
    .content-wrapper li {
      @apply leading-relaxed text-foreground;
      /* Improved spacing and color */
    }
  
    .content-wrapper ul ul,
    .content-wrapper ol ol,
    .content-wrapper ul ol,
    .content-wrapper ol ul {
      @apply list-disc ml-6 mt-0 text-muted-foreground;
      /* Styling for nested lists */
    }
  
    .content-wrapper ul ul {
      @apply list-disc;
      /* Specific nested unordered list styles */
    }
  
    .content-wrapper ol ol {
      @apply list-decimal;
      /* Specific nested ordered list styles */
    }
  
    .content-wrapper ul>li::marker {
      @apply text-primary;
      /* Custom marker color for unordered lists */
    }
  
    .content-wrapper ol>li::marker {
      @apply text-secondary;
      /* Custom marker color for ordered lists */
    }

    .transition-child p {
      @apply transition-all duration-700 delay-200;
    }

    

    
}



/* 
// gradientColor={theme === "dark" ? "#242424" : "#f9f9f9"}
gradients from color to transparent
*/
.dark .rfm-overlay:before {
  background: linear-gradient(
    to right,
    #242424,
    transparent
  )!important;
}

.rfm-overlay:before {
  background: linear-gradient(
    to right,
    #f9f9f9,
    transparent
  )!important;
}

.dark .rfm-overlay:after {
  background: linear-gradient(
    to right,
    #242424,
    transparent
  )!important;
}

.rfm-overlay:after {
  background: linear-gradient(
    to right,
    #f9f9f9,
    transparent
  )!important;
}

.balanced {
  text-wrap: balance;
}

.linenumber {
  color: rgba(135,134,144);
}